.home{
    color: var(--black);
    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 24px;
}

.home:hover {
    color: var(--green);
} 

.effectOne {
    position: absolute;
    top: 35%;
    left: 45%;
    text-align: center;
}

.effectOne > h1 {
    color: var(--dark-pink);
}